.Modal {
  width: 50%;
  position: fixed;
  background-color: #fff;
  padding: 25px 35px;
  transition: all .3s;

  z-index: 1000;
  top: 56px;
}

@media (max-width: 500px) {
  .Modal {
    left: 18%;
  }
}