.Burger {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25% auto;
}

@media (max-width: 850px) {
  .Burger {
    width: 65%;
  }
}

@media (max-width: 710px) {
  .Burger {
    width: 75%;
  }
}

@media (max-width: 550px) {
  .Burger {
    width: 90%;
  }
}


@media (max-width: 500px) {
  .Burger {
    width: 75%;
  }
}

@media (max-width: 380px) {
  .Burger {
    width: 85%;
  }
}

@media (max-width: 300px) {
  .Burger {
    width: 98%;
  }
}